*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

/*UTILIZZO FLOAT*/
.clearfix{
    content: "";
    clear: both;
    display: table;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

/*UTILIZZO FLEX*/
.flex{
    display: flex;
}

body{
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 992px) {

}