*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

/*UTILIZZO FLOAT*/
.clearfix{
    content: "";
    clear: both;
    display: table;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

/*UTILIZZO FLEX*/
.flex{
    display: flex;
}

body{
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 992px) {

    .container{
        height:calc(100vh - 50px);
        width: 100%;
        background-color:blue;
    }
    .lateral-bar{
        width:18%;
        height:calc(100vh - 50px);
        background-color: black;
    }

    .center-section{
        height:calc(100vh - 50px);
        width:82%;
        background-color: rgb(2, 4, 15);
    }

    .top-bar-button{
        height: 50px;
        background-color: rgb(46, 43, 43);
        position:relative;
    }

    .top-bar-button button{
        position:absolute;
        right:10px;
        top:15px;
    }

    .footer-container{
        height: 50px;
        width: 100%;
        background-color: rgb(49, 48, 48);
    }
}