*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

/*UTILIZZO FLOAT*/
.clearfix{
    content: "";
    clear: both;
    display: table;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

/*UTILIZZO FLEX*/
.flex{
    display: flex;
}

body{
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 992px) {

    .container{
        height:calc(100vh - 100px);
        width: 100%;
        background-color:blue;
    }
    /*LATERAL BAR NAV*/
    .lateral-bar{
        width:300px;
        height:calc(100vh - 100px);
        background-color: rgb(151, 151, 151);
        padding:5px 0 0 15px;
        overflow: auto;
    }

    .lateral-bar li{
        list-style-type: none;
    }

    .lateral-bar a{
        text-decoration:none;
        color:white;
    }

    .lateral-bar h3{
        color:white;
        font-size: 20px;
    }

    .logo{
        height: 50px;
        background-image: url(../img/logo.svg);
        background-size:contain;
        background-repeat: no-repeat;
        margin-bottom: 10px;

    }

    .resource{
        margin-bottom: 20px;
        line-height: 25px;
    }

    .playlist{
        flex-direction: column;
    }

    .playlist li{
        line-height: 30px;
    }

    .footer-nav{
        height: 200px;
        flex-direction: column;
        justify-content: flex-end;
    }

    .footer-nav p{
        color: white;
    }

    .bar{
        width: 90%;
        height: 2px;
        background-color: grey;
        border-radius: 10px;
        margin:5px 0;
    }

    /*CENTER MAIN SECTION*/
    .center-section{
        height:calc(100vh - 100px);
        width:calc(100% - 300px);
        background-color: rgb(2, 4, 15);
    }

    .top-bar-button{
        height: 55px;
        background-color: rgb(46, 43, 43);
        position:relative;
        margin-bottom: 10px;
    }

    .top-bar-button button{
        position:absolute;
        right:10px;
        top:15px;
    }

    .nav-bar-center-section>ul{
       text-align: center;
    }

    .nav-bar-center-section li{
        display: inline-block;
        margin-right: 10px;
    }

    /*FOOTER*/
    .footer-container{
        height: 100px;
        width: 100%;
        background-color: rgb(49, 48, 48);
    }
}